

{"req_data": "",
 "priv_status": true,
 "banner": "*******\r\nWelcome to ZXR10 5928PS Switch of ZTE Corporation\r\n*******\r\n
    Username:", "priv_error": "", "req_name": "telnet_negotiate",
    "status_code": 0, "timestamp": ""},

{"type": "","brand": "", "type_sim": 0, "model": "",
    "category_sim": 0, "category": "", "brand_sim": 0,
    "model_sim": 0, "priv_finger_id": "", "version_sim": 0, "version": ""},
"banner_list": [{"req_data": "",
    "priv_status": true,
    "banner": "Welcome !
               ZTE Corporation.
               All rights reserved.",
    "priv_error": "", "req_name": "telnet_negotiate", "status_code": 0, "timestamp": ""}


